<section id=timeline>
  <h1>Darshan Kalola</h1>
  <br><br>
  <div class="demo-card-wrapper">

    <div class="demo-card demo-card--step1">
      <div class="head">
        <div class="number-box">
          <span>2019</span>
        </div>
        <h2><span class="small"><i>November 25th</i></span> <strong>Lab Test</strong></h2>
      </div>
      <div class="body">
        <p>Darshan worked so hard on the OSS project that his platelet count dropped dangerously low. His doctor ordered
          some blood work. Lucky for him, he has enough platelets to give this presentation.
        </p>
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="head">
        <div class="number-box">
          <span>2016</span>
        </div>
        <h2><span class="small"><i>October 31st</i></span> <strong>Visit</strong></h2>
      </div>
      <div class="body">
        <p>After ingesting 2lbs of chocolate, Darshan makes a trip to the doctor's office. The physician prescribes
        antibiotics, because he trusts the US Research and Development sector more than he trusts the bacteria's ability to become resistant.
        </p>
      </div>
    </div>

    <div class="demo-card demo-card--step3">
      <div class="head">
        <div class="number-box">
          <span>2004</span>
        </div>
        <h2><span class="small"><i>December 25th</i></span> <strong>Surgery</strong></h2>
      </div>
      <div class="body">
        <p>On the blessed day of Christmas, poor Darshan had surgery. His appendix was removed, much to his
          dismay. He loved that thing like it was his kidney.
        </p>
      </div>
    </div>

    <div class="demo-card demo-card--step4">
      <div class="head">
        <div class="number-box">
          <span>2001</span>
        </div>
        <h2><span class="small"><i>February 12th</i></span> <strong>Routine Physical</strong></h2>
      </div>
      <div class="body">
        <p>Young boul Darshan went to the doctor's for a routine physical. All was well.</p>
      </div>
    </div>

    <div class="demo-card demo-card--step5">
      <div class="head">
        <div class="number-box">
          <span>1998</span>
        </div>
        <h2><span class="small"><i>April 15th</i></span> <strong>Vaccination</strong></h2>
      </div>
      <div class="body">
        <p>On this day, baby Darshan received 5 painful vaccinations. He cried profusely.</p>
      </div>
    </div>
  </div>
</section>


<%= link_to 'Generate random events', generate_random_events_path, :class => "btn btn-outline-primary generate-events-btn" %>
